In [21]:
import pandas as pd

In [22]:
actData = pd.read_csv('activities2.csv', encoding='mac_roman')

In [23]:
actData.head(10)

,Cohort,Retreat,MT KIckoff,OL Spring,MT Summit,Activities Count,NGSC Activities,civ mil count,service count,culture count
0,4,Yes,Yes,Yes,Yes,3,"Service - Feed my starving children,NGSC Cultu...",2,2,2
1,4,Yes,yes,yes,yes,2,"Civ-Mil - Leadership in Crisis Series part 1,...",0,0,0
2,2,YES,Yes,yes,yes,4,"Service - Changemaker MLK Service Day,Civ-Mil ...",1,2,1
3,3,Yes,yes,yes,yes,4,NGSC Culture - Public Service Academy Speaker ...,3,3,1
4,4,Yes,Yes,no,no,0,NaN,1,0,1
5,4,Yes,Yes,yes,yes,4,"Service - Transcribed Zombified Podcast,Civ-Mi...",1,2,1
6,T2,yes,yes,no,no,3,"Service - Chandler Multicultural Festival,Serv...",1,2,1
7,4,No,Yes,no,no,0,NaN,1,2,1
8,3,Yes,Yes,yes,yes,4,"""Civ-Mil - Should the U.S Build the Southern ...",0,0,0
9,2,YES,Yes,yes,yes,0,NaN,1,2,1

In [12]:
actData['Retreat'].apply(lambda val: att(val))[:10]

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: Retreat, dtype: bool

In [9]:
def att(val):
    return val.lower() == ('yes' or 'excused')

In [8]:
for ind in actData.index:
    if actData['Retreat'][ind].lower() == ('yes' or 'excused'):
        print('true')

true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true
true

In [4]:
actData['Retreat'].str.contains('Yes' or 'YES'))

0       True
1       True
2      False
3       True
4       True
       ...
484     True
485     True
486     True
487     True
488     True
Name: Retreat, Length: 489, dtype: bool

In [24]:
conditions = [(actData['service count'] >= 2), (actData['civ mil count'] >= 1), (actData['culture count'] >= 1),\
                (actData['Retreat'].apply(lambda val: att(val))), (actData['MT KIckoff'].apply(lambda val: att(val))),\
                (actData['OL Spring'].apply(lambda val: att(val))),(actData['MT Summit'].apply(lambda val: att(val)))]

In [25]:
L1 = actData.loc[conditions[0] & conditions[1] & conditions[2] & conditions[3] & conditions[4]]

In [27]:
L1.head(100)

,Cohort,Retreat,MT KIckoff,OL Spring,MT Summit,Activities Count,NGSC Activities,civ mil count,service count,culture count
0,4,Yes,Yes,Yes,Yes,3,"Service - Feed my starving children,NGSC Cultu...",2,2,2
2,2,YES,Yes,yes,yes,4,"Service - Changemaker MLK Service Day,Civ-Mil ...",1,2,1
3,3,Yes,yes,yes,yes,4,NGSC Culture - Public Service Academy Speaker ...,3,3,1
5,4,Yes,Yes,yes,yes,4,"Service - Transcribed Zombified Podcast,Civ-Mi...",1,2,1
6,T2,yes,yes,no,no,3,"Service - Chandler Multicultural Festival,Serv...",1,2,1
...,...,...,...,...,...,...,...,...,...,...
162,3,Yes,Yes,Excused,Excused,4,"Service - ASU Open Door,NGSC Culture - Health ...",1,2,1
166,4,Yes,yes,yes,yes,4,NGSC Culture - Healthcare Professionals Panel ...,1,2,2
167,5,Yes,yes,yes,yes,4,"NGSC Culture - Petting Zoom,Civ-Mil - U.S. Ar...",1,2,1
168,T3,Yes,Yes,yes,yes,4,Civ-Mil - Medal of Honor Series: Episode 5 Vi...,1,2,1
171,3,Yes,Yes,no,no,1,Service - International Student English Assist...,1,2,1